<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-md">
                <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#toggler" aria-controls="toggler" aria-expanded="false"
                    aria-label="Toggle navigation">
                        <span>Menu</span>
                      </button>
                <div class="collapse navbar-collapse" id="toggler">
                    <ul class="navbar-nav mx-auto text-center">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/schedule">Schedule</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/accommodation">Accommodation</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/history">History</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/grants">Grants</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/the-venue">Venue</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
